<section class="m-3">
  <form action="" class="ps-4 border border-secondary border-2 col-4 p-4 ">
    <h2>Login</h2>
    <p>
      <label for="">Usuario:</label>
      <input type="text" #txtUser>  
    </p>
    <p>
      <label for="">Password:</label>
      <input type="password" #txtPassword>
    </p>
    
    <input type="button" value = "LOGIN" (click)="Validar(txtUser.value, txtPassword.value)" >
  </form>
  
    <p *ngIf ="resultado == false; else falso" class="mt-4 text-danger">
      {{mensaje}} 
    </p>
    <ng-template #falso >
      <p class="mt-4 text-success">
       {{mensaje}} usuario: Angular
      </p>
      <ul>
        <li *ngFor="let x of enlaces" class="list-group-item">
          <a href="">{{x}}</a> 
        </li>
      </ul>
    </ng-template>
</section>



